
h1 {
    background-color: black;
    color: white;
    text-align: center;
}

h3 {
    background-color: lightgray;
    color: black;
    text-align: center;
    margin-left: 200px;
    margin-right: 10px;
}

div {
    background-color: lightgray;
    color: black;
    text-align: right;
    margin-left: 200px;
    margin-right: 10px;
}

p {
    background-color: rgb(238, 238, 238);
    margin-left: 200px;
    margin-right: 10px;
    text-align: center;
}

img {
    height: 300px;
    width: 300px;
}
